<!DOCTYPE html>
<html>
<head>
  <title>Edit Username</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Edit Username</h1>
    <form action="/edit_username" method="POST">
      <div class="form-group">
        <label for="username">New Username:</label>
        <input type="text" class="form-control" id="username" name="username" required>
     
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
</body>
</html>
