{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha512-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <!--favicon-->
        
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon.png"/>
</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>URL Shortener Demo</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha512-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <nav class="navbar sticky-top bg-body-tertiary navbar bg-primary  "data-bs-theme="dark">
    

            <ul class=" nav nav-underline">
                
                <li> <a class="navbar-brand" href="#">
                    <img src ="../static/img/jlogo-removebg-preview.png" alt="Logo"  class="d-inline-block align-text-top" width='70px'/> </a></li>
                <li   class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li   class="nav-item"><a class="nav-link" href="/signup">Signup</a></li>
                

            </ul>
        </div>
    </div>
        </nav>
        <div class="container mt-5">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-dismissible fade show" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% endwith %}
            
            <h1 class="mb-4">URL Shortener Demo</h1>
            
            <form method="POST" action="{{ url_for('url.trial_demo') }}">
                <div class="mb-3">
                    <label for="original_url" class="form-label">Original URL</label>
                    <input type="url" class="form-control" id="original_url" name="demo_original_url" placeholder="Enter the URL to shorten" required>
                </div>
                <button type="submit" class="btn btn-primary mb-4">Shorten URL</button>
            </form>
            
            
            
            <div class="alert alert-success" role="alert">
                {% if new_demo_url %}
                <div class="alert alert-success mt-4" role="alert">
                    Shortened URL: <a href="{{ url_for('short.redirect_short_original_url', shorten_url=new_urls) }}">{{ request.host }}/{{ new_urls }}</a>
                </div>
                {% endif %}
            </div>
            


        
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha512-Dptw2DOpKd2wYKYo9c+qA7pGF1A6fMy0fVZffmcWiR4L4dR+F3WvZ/nm0pUzH7fqfKly4IWmtI8KrAqtRzXC8Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </body>
    </html>




































<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> URL Shortener|User Dashboard</title>
    
    <!--<link rel="stylesheet" href="../static/styles.css">-->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--favicon-->
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon.png"/>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar sticky-top bg-body-tertiary navbar bg-primary" data-bs-theme="dark">
        <ul class="nav nav-underline nav justify-content-end">
            <li>
                <a class="navbar-brand" href="#">
                    <img src="../static/img/jlogo-removebg-preview.png" alt="Logo" class="d-inline-block align-text-top" width="70px" />
                </a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/trial">Demo</a></li>
            <li class="nav-item"><a class="nav-link" href="stats.html">Stats</a></li>
            <li class="nav-item active"><a class="nav-link" href="/profile">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">logout</a></li>
        </ul>
    </nav>
    <section>
    <!-- User Dashboard Section -->
    <div class="container">
       
        <h2 class="mt-3">{{greeting}}, {{ current_user.username }}</h2>
        <div class="card shadow large rounded border-0">
            <div class="card-body">
                <h4>Personal Information</h3>
                <ul class="list-group">
                    <li class="list-group-item"><b>Email:</b> {{ current_user.email }}</li>
                    <li class="list-group-item"><b>Username:</b> {{ current_user.username }}</li>
                    <li class="list-group-item"><b>User ID:</b> {{ current_user.id }}</li>
                </ul>
            </div>
        </div>
    </section>

 <section> 
    {% for url in urls %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-dismissible fade show" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endwith %}
        <div class="card shadow large rounded border-0 mt-4">
            <div class="card-body">
                <img src="{{ url_for('url.generate_qr_code_image', short_url=url.short_url) }}" alt="QR Code">
                <h4>Short URL Management</h3> <a href="/stat" class="btn btn-primary mb-3">Analytics</a> <a  href="{{ url_for('url.delete_url' , short_url=url.short_url) }}" class="btn btn-danger mr-3 mb-3">Delete URL</a>
                  
                <ul class="list-group">
                    
                   
             
                    <li class="list-group-item">
                        <b>Original URL:</b> {{ url.original_url }}<br>
                     
                        <b>Shortened URL:</b>{{request.host_url}}/{{url.short_url}}<br>
                        <b>Date Created:</b>{{url.date_created}}<br>
                    </li>
           
                

                </ul>
            </div>
        </div>
   

        <div class="container">
        
            <div class="card shadow large rounded border-0 mt-4">
                <div class="card-body">
                    <h4>Custom URL Management</h3>
                    <ul class="list-group">
                        
                     
                
                        <li class="list-group-item">
                            <b>Original URL:</b> {{ url.original_url }}<br>
                            <b>Custom Domain:</b> {{ url.custom_domain }}<br>
                            <b>Customised URL:</b>{{request.host_url}}/{{url.custom_domain}}/{{url.custom_short_url}}<br>
                            <b>Date Created:</b>{{url.date_created}}<br>
                        </li>
                    
                        
                    </ul>
                </div>
            </div>
           
        </div> 

      
        
        {%endfor%}
    
</section>


        <div class="container mb-2">
            <div class="mt-5">
        
        <a href="{{ url_for('url.edit_account') }}" class="btn btn-primary mb-2  p-3">Edit Username</a>
        <a href="{{ url_for('url.delete_account') }}" class="btn btn-danger p-3 mb-2">Delete Account</a>
    </div>
</div>

<script>
    function closeAlert(element) {
        element.parentElement.remove();
    }
</script>
    
    <footer class="footer mt-auto">
        <!-- Footer content here -->
        <div class="text-center">
          <p>&copy; 2023 cutit. All rights reserved.</p>
        </div>
      </footer>
</body>
</html>

    
 {% endcomment %}
